In [9]:
import MySQLdb
import MySQLdb as db
con = db.connect(host="localhost", user="root", passwd="ThinkPadT$#")
cur = con.cursor()
#cur.execute('CREATE DATABASE MySQLdbtest;')
cur.execute('CREATE DATABASE MySQLdbtest5;')

1L

In [10]:
import MySQLdb
import MySQLdb as db

dsn_database = "MySQLdbtest5"   # e.g. "MySQLdbtest"
dsn_hostname = "localhost"       # e.g.: "mydbinstance.xyz.us-east-1.rds.amazonaws.com"
dsn_port = 3306                        # e.g. 3306 
dsn_uid = "root"             # e.g. "user1"
dsn_pwd = "ThinkPadT$#"            # e.g. "Password123"

In [11]:
conn = MySQLdb.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, passwd=dsn_pwd, db=dsn_database)

In [12]:
conn.query("""DROP TABLE IF EXISTS Cars""")
conn.query("""CREATE TABLE Cars(Id INTEGER PRIMARY KEY, Name VARCHAR(20), Price INT)""")
conn.query("""INSERT INTO Cars VALUES(1,'Audi',52642)""")
conn.query("""INSERT INTO Cars VALUES(2,'Mercedes',57127)""")
conn.query("""INSERT INTO Cars VALUES(3,'Skoda',9000)""")
conn.query("""INSERT INTO Cars VALUES(4,'Volvo',29000)""")
conn.query("""INSERT INTO Cars VALUES(5,'Bentley',350000)""")
conn.query("""INSERT INTO Cars VALUES(6,'Citroen',21000)""")
conn.query("""INSERT INTO Cars VALUES(7,'Hummer',41400)""")
conn.query("""INSERT INTO Cars VALUES(8,'Volkswagen',21600)""")
conn.query("""INSERT INTO Cars VALUES(9,'Studebaker',41600)""")
conn.query("""INSERT INTO Cars VALUES(10,'Studabaker',25000)""")

In [7]:
conn = MySQLdb.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, passwd=dsn_pwd, db=dsn_database)
conn.query("""INSERT INTO Cars VALUES(10,'Studabaker',25000)""")

In [13]:
cursor=conn.cursor()
cursor.execute("""SELECT * FROM Cars""")
print "\nShow me the records:\n"
rows = cursor.fetchall()
import pprint
pprint.pprint(rows)

Show me the records:

((1L, 'Audi', 52642L),
 (2L, 'Mercedes', 57127L),
 (3L, 'Skoda', 9000L),
 (4L, 'Volvo', 29000L),
 (5L, 'Bentley', 350000L),
 (6L, 'Citroen', 21000L),
 (7L, 'Hummer', 41400L),
 (8L, 'Volkswagen', 21600L),
 (9L, 'Studebaker', 41600L),
 (10L, 'Studabaker', 25000L))

In [14]:
conn.close()

# xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

In [22]:
dsn_database = "MySQLdbtest5"   # e.g. "MySQLdbtest"
dsn_hostname = "localhost"       # e.g.: "mydbinstance.xyz.us-east-1.rds.amazonaws.com"
dsn_port = 3306                        # e.g. 3306 
dsn_uid = "root"             # e.g. "user1"
dsn_pwd = "ThinkPadT$#"            # e.g. "Password123"

In [23]:
conn = MySQLdb.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, passwd=dsn_pwd, db=dsn_database)

In [26]:
conn.close()

In [24]:
cursor=conn.cursor()
cursor.execute("""SELECT * FROM Cars""")
print "\nShow me the records:\n"
rows = cursor.fetchall()
import pprint
pprint.pprint(rows)

Show me the records:

()

In [21]:
cursor=conn.cursor()
cursor.execute("""SELECT * FROM Cars""")
print "\nShow me the records:\n"
rows = cursor.fetchall()
import pprint
pprint.pprint(rows)

Show me the records:

()

In [25]:
cursor=conn.cursor()
cursor.execute("""SELECT * FROM Cars""")
cursor.fetchone()